body,html {
    font-family: 'Tangerine', serif;
    font-size: 25px;
    text-shadow: 4px 4px 4px #aaa;
    background: url(1072679.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
 
h1{
    font-size:3rem;
    color:rgb(191, 202, 31);
    text-shadow: 0px 3px 0px #b2a98f,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);

    
}
.buffer{
    height: 12rem;

}
hr{
    border-color: blue;
    border-width: 4px;
    max-width: 65px;
    
}
.btn {
    width: 250px;
    height: 55px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    
    text-align: space;;
    }
  


.btn-primary:hover{
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}